* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  position: relative;
  font-size: 25px;
  background: transparent;
}

.main-nav {
  list-style-type: none;
  margin-top: 12px;
  z-index: 3;
}

.nav-links,
.hack-logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  transition: transform .5s ease;
}

.hack-logo {
  display: inline-block;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5%;
}

.navbar-toggle {
  position: absolute;
  top: 27px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
    transform: scaleY(1) rotateX(0deg);
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    padding-top: 3.5rem;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    padding-bottom: 20px;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
    transition: transform .3s ease-out;
  }

  .main-nav li a {
    border-radius: 10px;
    background: #3f5efb;
    color: #fff;
    padding: 10px;
    font-size: 1.4rem;
    transform: scale(1);
  }

  .main-nav li:hover {
    transform: scale(1.2) rotateZ(3deg);
  }

  .nav-links {
    margin-left: 40px;
  }

  .hack-logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .hack-logo:hover,
  .nav-links:hover {
    color: #ffffff;
    transition: color .3s ease;
  }
}