* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  font-size: 25px;
  background: transparent;
}

.main-nav {
  list-style-type: none;
  display: none;
  margin-top: 12px;
  padding-right: 5%;
}

.nav-links,
.hacklogo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.hacklogo {
  display: inline-block;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5%;
}

.navbar-toggle {
  position: absolute;
  top: 27px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .hacklogo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .hacklogo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
