<header id="hero-section" class="section hero-section">
  <!-- particles.js container -->
  <div id="particles-js" class="particles">
    <nav class="navbar">
        <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
            <i class="fa fa-bars"></i>
        </label>
        <a href="#" class="logo">HackRCDU</a>
        <input type="checkbox" id="chkToggle"></input>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">About</a>
            </li>
            <li>
                <a href="#" class="nav-links">Schedule</a>
            </li>
            <li>
                <a href="#" class="nav-links">Events</a>
            </li>
            <li>
                <a href="#" class="nav-links">Sponsors</a>
            </li>
            <li>
                <a href="#" class="nav-links">FAQs</a>
            </li>
        </ul>
    </nav>
    <div class="hackrcdu">
        <h1>HackRCDU</h1>
        <h3>You are Exactly <br /> Where You Need to Be.
        </h3>
        <h5>Organised by Department of Computer Science <br /> Ramanujan College, University of Delhi.</h5>
        <div class="apply-here">
            <a class="apply" href="#">Apply here</a>
            <a class="turington" href="#">Turington'20</a>
        </div>
        <div class="icons">
            <a href="https://www.linkedin.com/in/pavan-gandhi/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/iampavangandhi"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/iampavangandhi"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/official_pavang/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/PavanGandhi7"><i class="fab fa-twitter"></i></a>
            <a href="https://www.twitter.com/PavanGandhi7"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="illustration">
        <img class="hero-img" width="600px" src="./assets/a1.png" class="" alt="">
    </div>
  </div>
</header>
